.mainGrid {
  height: 100vh;
}

.widget {
  display: flex;
  justify-content: center;
}

.widgetEdit {
  display: flex;
  justify-content: center;
  cursor: grab;
}

.widgetEdit:active {
  cursor: grabbing;
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
}
