.bookmarksBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.bookmarkBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteIcon {
  position: absolute;
  top: 0;
  right: 0;
}

.borderNoWrap {
  border: 1px solid white;
  word-break: break-word;
}

.noWrap {
  word-break: break-word;
}
