html,
body {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
}

.maskInactive {
  width: 100%;
}

.maskActive::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  pointer-events: none;
}

.maskActive {
  width: 100%;
  height: 100%;
}
